body {
    text-align: center;
    background-color: bisque;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

.recipes {
    list-style: none;
}
img {
    width: 350px;
    height: auto;
}